
* {
    margin: 0x;
}
@font-face {
    font-family:abrilf;
    src: url(AbrilFatface-Regular.ttf);
}


body {
    font-family: abril;
    src: url(AbrilFatface-Regular.ttf);
}
 
.div-1 {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: rgb(133, 75, 121);
    opacity: 80%;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    z-index: 1;  
    overflow: hidden;

 
}

.home:hover{
    background-color: #7e4747;
}

 

.search-product{
    width: 200px;
}
.nav{
    float: right;
}

 .search{
float: left;
margin-right: 600px;
 }

nav a {
    color:white;
    padding: 10px;
    text-decoration: none;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}
 

 
.div-2 {
    display: flex;
    align-items: center;
    justify-content: center;
   
    height: 1060px;
    background-image: url(promocao.png);
   background-size: 100%;
}
 
.highlight-text {
    font-size: 75px;
    color: white;
    text-shadow: 1px 1px 1px black
}
 
.div-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
 
 .div-galeria{
    padding: 90px;
 }
 
.div-3-left {
    width: 650px;
    height: 350px;
    padding-left: 10px;
   
}
 
.div-3-right {
    width: 650px;
    height: 350px;
 
}
 
.img-highlight {
    border-radius: 10px;
    margin-right: 20px;
    border: 1px solid #f3f3f3;
    float: left;
}
 
.a-link {
    color: rgb(205, 207, 201);
    text-decoration: none;
}
 
.img-right {
    padding: 10px;
    float: left;
}
 
.img-circle {
    border-radius: 50%;
    margin-right: 20px;
    float: left;
}
 
.div-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    margin-top: 150px;
}
 
.rosa:hover{
 transform: scale(1.03);

}
.div-5{
    background-image:url(branco.jpg);
}
 
.div-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    background-image: radial-gradient(#ffffff, #bebebe);
}

.checked{
    color: orange;
    margin-top: 100px;
    
}
 
.div-7{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    background-color: rgb(240, 205, 229);
    color: rgb(0, 0, 0);
    
}
 
.card-body{
    padding: 20px;
    background: url(rosatextura.avif);
   
}
 
.div-6{
    width: 100%;
    height: 100%;
}
.div-5{
    margin-top: -360px;
}
.galeria{
    border-radius: 10px;
    width: 300px;
    height: 200px;
}

.card{
    width: 900px;
}

.div-galeria{
    background-image: url(branco.jpg);
    background-size: 100%;
}

.div-6{
    margin-top: -5px;
}

.galeria:hover{
transform:scale(1.4);
transition:transform 1s;
}


.rosatextura:hover{
    transform: scale(1.01);
}

.div-7{
    background-color: rgb(233, 161, 194 71, 126);
}